<div class="ui container" id="chargecenterpanel">
	<form class="ui large form" action="/payments/addcharge" method="post">
		<h2 class="ui dividing header">New Charge</h2>
		<div class="three inline fields">
			<div class="field">
				<select name="borroworlent" id="borroworlent" class="ui fluid dropdown">
					<option value="">Who's paying?</option>
					<option value="true">I lent</option>
					<option value="false">I borrowed</option>
				</select>
			</div>
			<div class="field">
				<label>$</label><input type="number" min="0.01" step="0.01" name="amount" placeholder="5.00">
			</div>
			<div class="field">
				<label id="tofrom">to</label><input type="text" name="user" placeholder="Username">
			</div>
		</div>
		<div class="field">
			<input type="text" name="note" placeholder="Description">
		</div>
		<div class="field">
			<div class="ui slider checkbox">
				<input type="checkbox" name="venmousage" value="true">
				<label>Use Venmo?</label>
			</div>
		</div>
		<button class="ui blue button" type="submit">Charge!</button>
	</form>
	<div class="ui divider"></div>
	<h2 class="ui header">Current Charges</h2>
	<div class="ui celled table">
		<thead>
			<tr><th>Charges you owe</th>
		</tr></thead>
		<tbody>
		<tr>
		{{#each owes_you}}
			<td>{{username}} owes you ${{amount}}</td>
		{{/each}}
		</tr>
		</tbody>
	</div>
	<div class="ui celled table">
		<thead>
			<tr><th>Charges owed to you</th>
		</tr></thead>
		<tbody>
		<tr>
		{{#each you_owe}}
			<td>You owe {{username}} ${{amount}}</td>
		{{/each}}
		</tr>
		</tbody>
	</div>
</div>