<link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<div class='background-img'></div>
<div class="ui vertical masthead center aligned segment" id="headerpanel">
	<div class="ui container">
		<div class="ui inverted large secondary pointing menu">
			<a class="active item" id='homemenuitem'>Home</a>
			<a class="item" id="aboutmenuitem">How it Works</a>
			<div class="right item">
				<div class="ui inverted button" id="loginbutton">Login</div>
			</div>
		</div>
	</div>
	<div class="ui container">
		<h1 class="ui middle aligned image header">
			<image src='/images/MoneyMattersFavicon.png'>
			MoneyMatters
		</h1>
		<h2 class='ui large header'>Peer lending, made easy.</h2><br>
		<div class="ui huge primary button" id="getstartedbutton">Get Started <i class="right arrow icon"></i></div>
	</div>
	<a href='#'><i class="circular inverted chevron down large icon" id='downarrow'></i></a>
</div>
<div id="aboutpanel">
	<div class="ui large three column grid" id='messagegrid'>
		<div class="column"><div class="ui message wow fadeInRight">
			<header class="ui centered header">Keep track of your money</header>
			<div class="ui horizontal divider"><i class="dollar icon"></i></div>
			<div class="ui subheader">Easily maintain records of <b>who owes you</b> and <b>who you owe</b> with detailed information about each charge.</div>
		</div></div>
		<div class="column"><div class="ui message wow fadeInRight">
			<header class="ui centered header">Split bills easily</header>
			<div class="ui horizontal divider"><i class="food icon"></i></div>
			<div class="ui subheader">Use our cost sharing calculator to determine <b>who</b> needs to pay <b>what amount</b> to make a <b>fair deal</b>.</div>
		</div></div>
		<div class="column"><div class="ui message wow fadeInRight">
			<header class="ui centered header">Build a reputation</header>
			<div class="ui horizontal divider"><i class="line chart icon"></i></div>
			<div class="ui subheader">With our <b>detailed statistics</b> on your activity, show that money is safe in <b>your hands</b>.</div>
		</div></div>
	</div>
	<div class='ui horizontal divider'><i class='ui huge idea icon'></i></div>
	<div class='ui fluid piled segment homepage wow fadeInLeft'>
		<div class='ui divided grid'>
			<div class='eight wide column'>
				<div class='ui two cards'>
					<div class='ui card'>
						<div class='content'>
							<div class='header'>Tian M.</div>
						</div>
						<div class='center aligned content'>
							<div class='ui slide masked reveal'>
								<div class='visible content'>
									<div class='ui statistic'>
										<div class='label'>owes you a total of</div>
										<div class='value'>
											$24.45
										</div>
									</div>
								</div>
								<div class='hidden content chargelist'>
									<div data-title="Created by David on 1/23/2016 at 12:15PM (just in time!)" class='listeditem'>
										<span class='left floated listednote'>"Lunch":</span>
										<span class='right floated'>$<span class='listedchargeamount'>21.90</span> | <a class="chargecomplete"><i class='green checkmark icon'></i></a>| <a class="chargecancel" ><i class='red remove icon'></i></a>|</span><br>
									</div>
									<div data-title="Created by Slava on 1/25/2016 at 9:04PM" class='listeditem'>
										<span class='left floated listednote'>"Boba":</span>
										<span class='right floated'>$<span class='listedchargeamount'>5.50</span> | <a class="chargecomplete"><i class='green checkmark icon'></i></a>| <a class="chargecancel" ><i class='red remove icon'></i></a>|</span><br>
									</div>
									<div data-title="Created by you on 1/26/2016 at 9:54AM" class='listeditem'>
										<span class='left floated listednote'>"Uber":</span>
										<span class='right floated'>$<span class='listedchargeamount' style='color: red'>-2.95</span> | <a class="chargecomplete"><i class='green checkmark icon'></i></a>| <a class="chargecancel" ><i class='red remove icon'></i></a>|</span><br>
									</div>
								</div>
							</div>
						</div>
						<div class='extra content'>
							<div class='ui two buttons'>
								<div class="ui green button">Complete</div>
								<div class="ui basic red button">Remove</div>
							</div>
						</div>
						<div class='venmopopup' data-content='You can use Venmo to complete your recorded charges!'>
							<div class='ui blue bottom attached button'>
								Request on Venmo
							</div>
						</div>
					</div>
					<div class='ui card'>
						<div class='content'>
							<div class='header'>Kimberli Z.</div>
						</div>
						<div class='center aligned content'>
							<div class='ui slide masked reveal'>
								<div class='visible content'>
									<div class='ui statistic'>
										<div class='label'>lent you a total of</div>
										<div class='value'>
											$32.20
										</div>
									</div>
								</div>
								<div class='hidden content chargelist'>
									<div data-title="Created by Runpenguin on 1/15/2016 at 7:15PM" class='listeditem'>
										<span class='left floated listednote'>"Bowling":</span>
										<span class='right floated'>$<span class='listedchargeamount'>10.80</span> | <a class="chargecomplete"><i class='green checkmark icon'></i></a>| <a class="chargecancel" ><i class='red remove icon'></i></a>|</span><br>
									</div>
									<div data-title="Created by RoHiS on 1/21/2016 at 6:14PM" class='listeditem'>
										<span class='left floated listednote'>"Gas":</span>
										<span class='right floated'>$<span class='listedchargeamount'>30.50</span> | <a class="chargecomplete"><i class='green checkmark icon'></i></a>| <a class="chargecancel" ><i class='red remove icon'></i></a>|</span><br>
									</div>
									<div data-title="Created by you on 1/24/2016 at 12:54PM" class='listeditem'>
										<span class='left floated listednote'>"Ramen":</span>
										<span class='right floated'>$<span class='listedchargeamount' style='color: red'>-8.10</span> | <a class="chargecomplete"><i class='green checkmark icon'></i></a>| <a class="chargecancel" ><i class='red remove icon'></i></a>|</span><br>
									</div>
								</div>
							</div>
						</div>
						<div class='extra content'>
							<div class='ui two buttons'>
								<div class="ui green button">Complete</div>
								<div class="ui basic red button">Remove</div>
							</div>
						</div>
						<div class='venmopopup' data-content='You can use Venmo to complete your recorded charges!'>
							<div class='ui blue bottom attached button'>
								Request on Venmo
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='eight wide column'>
				<div class='ui middle aligned content' style='padding: 1em !important'>
					<div class='ui header' style='font-size: 3rem'>Designed for you</div>
					<p class='ui large subheader'>
						Information you need, presented in a way you like
					</p>
					<p class='ui large subheader'>
						Debts and loans compiled in one charge
					</p>
					<p class='ui massive subheader'>
						Details revealed for those who want it
					</p>
				</div>
			</div>
		</div>
	</div>
	{{!-- <div class='ui stacked segment' style='padding:10vh;'>
		<div class='ui vertical stripe element'>
			<div class='ui middle aligned stackable grid container homepage' id='needstobewider'>
				<div class='row'>
					<div class='four wide column'>
						<h1 class='ui header'>Advanced Bill Splitting Wizard</h3>
						<p>
							Save time on figuring out a bill
						</p>
					</div>
					<div class='twelve wide right floated column'>
						<div class='ui three cards'>
							<div class='ui yellow card'>
								<div class='content'>
									<div class='header'>Alan<span class='right floated meta'>Paid the bill <i class='star icon'></i></span></div>
								</div>
								<div class='content sharedcharges'>Shared charge: $8.52</div>
								<div class='content'>
									<div class='ui transparent fluid left icon disabled input'>
										<i class='dollar icon'></i>
										<input type='number' class='indcharge" + username + "' min='0.01' max='999.99' step='0.01' name='amount' placeholder='9.80'>
									</div>
								</div>
							</div>
							<div class='ui card'>
								<div class='content'>
									<div class='header'>Sonde</div>
								</div>
								<div class='content sharedcharges'>Shared charge: $4.94</div>
								<div class='content'>
									<div class='ui transparent fluid left icon disabled input'>
										<i class='dollar icon'></i>
										<input type='number' class='indcharge " + username + "' min='0.01' max='999.99' step='0.01' name='amount' placeholder='11.95'>
									</div>
								</div>
							</div>
							<div class='ui card'>
								<div class='content'>
									<div class='header'>Eva</div>
								</div>
								<div class='content sharedcharges'>Shared charge: $6.22</div>
								<div class='content'>
									<div class='ui transparent fluid left icon disabled input'>
										<i class='dollar icon'></i>
										<input type='number' class='indcharge " + username + "' min='0.01' max='999.99' step='0.01' name='amount' placeholder='12.70'>
									</div>
								</div>
							</div>
						</div>
						<div class='ui center aligned segment'>
							<div class='ui large disabled labeled input'>
								<div class='ui label' style='border-top-left-radius: .28571429rem; border-bottom-left-radius: .28571429rem;'>$</div>
								<input type='number' id='totalbill' placeholder='73.01' style='text-align: center'></input>
							</div>
							<div><br>-<br><br>$<span id='totalremoved'>54.13</span> individual/shared charges</div>
							<div class='ui statistic'>
								<div class='value' style='margin-bottom: 30px'>
									$<span id='totalshared'>18.88</span>
								</div>
								<div class='label'>
									split between <span id='numpeoplesplit'>2</span> people
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> --}}
</div>

<div class='ui container' id='bottomlogocontainer'>
	<image class='ui centered medium image' src='/images/MoneyMattersFavicon.png'>
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="four wide column">
          <p class="ui inverted header">Team RoHiS</p>
          <h3>
          	Rupayan Neogy
          </h3>
          <h3>
          	Aaron Sipser
          </h3>
          <h3>
          	Danny Tang
          </h3>
          <h3>
          	and all the 6.148 mentors!
          </h3>
        </div>
        <div class="seven wide column">
          <p class="ui inverted header">About</p>
          <h3>We're a group of college students who decided to undertake the challenge of making a website from scratch.
          	Send questions about anything (development, features, etc) to MoneyMatters@mit.edu!</h3>
        </div>
      </div>
    </div>
  </div>
</div>




{{!-- MODALS --}}
<div class="ui modal signup">
	<div class="ui header">Create an account</div>
	<div class="ui text content">
		<form class="ui large form signup" action="/register" method="post" >
			<div class="field">
				<label>Name</label>
				<div class="two fields">
					<div class="field">
						<input type="text" name="firstName" placeholder="First Name" max-length='20' style='border-bottom-right-radius: 0px; border-top-right-radius: 0px;'>
					</div>
					<div class="field">
						<input type="text" name="lastName" placeholder="Last Name" max-length='20' style='border-bottom-left-radius: 0px; border-top-left-radius: 0px;'>
					</div>
				</div>
			</div>
			<div class="field">
				<label>Username</label>
				<input type="text" name="username" max-length='30' placeholder="Username">
			</div>
			<div class="field">
				<label>Email</label>
				<input type="text" name="email" placeholder="foo@bar.io">
			</div>
			<div class="field">
				<label>Password</label>
				<input type="password" name="password">
			</div>
			<div class='ui error message'></div>
			<button class="ui green button" type="submit">Submit</button>
			<div id="register_error"></div>
		</form>
	</div>
	<div class='ui bottom attached warning message'>
		<div class='ui basic button' id='alreadyhaveaccount'>Already have an account?</div>
	</div>
</div>
<div class="ui small modal login">
	<div class="ui header">Login</div>
	<div class="ui text content">
		<form class="ui large form login" action="/login" method="post" >
			<div class="field">
				<label>Username</label>
				<input type="text" name="username" max-length='30' placeholder="Username">
			</div>
			<div class="field">
				<label>Password</label>
				<input type="password" name="password">
			</div>
			<div class='ui error message'></div>
			<button class="ui green button" type="submit">Submit</button>
			<div id="authenticate_error"></div>
		</form>
	</div>
	<div class='ui bottom attached warning message'>
		<div class='ui basic button' id='noaccountbutton'>Don't have an account?</div>
		<div style='float: right'>
			<i class='icon help'></i>
			<a id='recoverylink'>Forgot your password?</a>
		</div>
	</div>
</div>
<div class='ui small modal recovery'>
	<div class='ui header'>Password Recovery</div>
	<div class='ui text content'>
		<form class='ui large form recovery' action='/settings/forgotPassword' method='post'>
			<div class='field'>
				<label>Enter your username:</label>
				<input type="text" name="username" placeholder="Username">
			</div>
			<button class='ui button' type='submit'>Submit</button>
			<div id="forgot_password_error"></div>
		</form>
	</div>
	<div class='ui bottom attached message'>
		You will receive an email with a temporary recovery password.
	</div>
</div>
<script src="/javascripts/homepage.js"></script>