<div class="ui sidebar inverted vertical menu left">
	<a href="/" class="item">
		<i class="home icon"></i>
		Home
	</a>
	<a href="/settings" class="item">
		<i class="settings icon"></i>
		Account Settings
	</a>
	<a href="/statistics" class="item">
		<i class="line chart icon"></i>
		Statistics
	</a>
	<a href='/history' class='item'>
		<i class='history icon'></i>
		History
	</a>
	<!--<a class="item">
		<i class="users icon"></i>
		Friends
	</a>-->
</div>
