<div class="ui sidebar inverted vertical menu left">
	<a class="item">
		<i class="home icon"></i>
		Home
	</a>
	<a class="item">
		<i class="settings icon"></i>
		Account Settings
	</a>
	<a class="item">
		<i class="line chart icon"></i>
		Statistics
	</a>
	<!--<a class="item">
		<i class="users icon"></i>
		Friends
	</a>-->
</div>
