<div class="ui container">
	<div class="ui large inverted secondary menu">
		<a class="active item" id='topbarmenuitem'><i class='sidebar icon'></i>Menu</a>
		<div id='popupmenu' class='ui inverted popup bottom left transition hidden'>
			<div class='ui selection huge animated list'>
				<a href="/" class="item">
					<i class="white home icon"></i>
					Home
				</a>
				<a href="/statistics" class="item">
					<i class="white line chart icon"></i>
					Statistics
				</a>
				<a href='/history' class='item'>
					<i class='white history icon'></i>
					History
				</a>
				<a href="/settings" class="item">
					<i class="white settings icon"></i>
					Account Settings
				</a>
				<!--<a class="item">
					<i class="users icon"></i>
					Friends
				</a>-->
			</div>
		</div>
		<div class="item"><a href='/' class="ui huge header" style='font-family: "Questrial", sans-serif;'><div class='ui mini image'><image src='/images/MoneyMattersFavicon.png'></div>MoneyMatters</a></div>
		<div class="right item">
			<div class="ui right aligned text container">Welcome, <a href='/settings' id='getusername' class = "anchorText">{{user.username}}</a></div>
			<a href="/logout"><div class="ui inverted button" id="logoutbutton">Logout</div> </a>
		</div>
	</div>
</div>
<div class='ui divider'></div>