<div class="ui container">
	<div class="ui large secondary menu">
		<a class="active item" id='sidebarmenuitem'><i class='sidebar icon'></i>Menu</a>
		<div class="item"><a href='/' class="ui huge header">MoneyMatters</a></div>
		<div class="right item">
			<div class="ui right aligned text container">Welcome, <a href='/settings'>{{user.username}}</a></div>
			<a href="/venmo/auth"><img src="/images/venmo_icon.png" id="venmoauthbutton"></a>
			<a href="/logout"><div class="ui inverted button" id="logoutbutton">Logout</div> </a>
		</div>
	</div>
</div>