<div class='card standard'>
	<div class='content'>
		<div class="ui compact search labeled input field">
			<input oninput="starCheck($(this))" type="text" name="user" id='chargeuser' placeholder="Username" class='prompt usercardinput'>
			<div class="results"></div>
		</div>
		<span class='right floated meta'><div class='ui mini icon circular button' onclick='exitCard($(this))'><i class='remove icon' ></i></div></span>
	</div>
	<div class='content'>
		<i class='massive smile icon'></i>
	</div>
	<div class='extra content'>
		<span class='right floated starspan'>Paid the bill <i class='empty star icon' onclick='starClick($(this))'></i></span>
	</div>
</div>