<!DOCTYPE html>
<html>
<head>
	<title>MoneyMatters</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	{{#if user}}
	{{> top-bar-partial}}
	<div class="ui container" id="accountsettings">
		<h2 class="ui dividing large header"><i class="large settings icon"></i> Account Settings</h2>
		<div class="ui fluid styled accordion">
			<div class="title active">
				<i class="dropdown icon"></i>
				Venmo
			</div>
			<div class="content active">
				<div class="transition visible" style="display: block !important;"><div>Venmo is used to complete payments of loans.</div><br>
					<div href='/venmo/auth' class='ui labeled icon button'>
						<i class='sign in icon'></i>
						Authorize your venmo
					</div><br><br>
					Your venmo account is: {{user.venmo_id}}
				</div>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				Email
			</div>
			<div class="content">
				<div class="transition hidden"><p>We do not send you emails other than for notifications and password recovery purposes.<br>Your email account is: {{user.email}}</p>
				<form action="/settings/email" method="post">
					<div class="ui toggle checkbox">
					  <input type="checkbox" id="emailcheck" name="emailcheck" value="true">
					  <label>Allow email notification</label>
					</div><br><br>
					<button class='ui compact button' type='submit' id="email_change_button">Save Changes</button>
					<div id="email_change_success"></div>
				</form>
				</div>
			</div>
			<div class="title">
				<i class="dropdown icon"></i>
				Change Password
			</div>
			<div class="content">
				<p class="transition hidden">Change password:
					<form class='ui form changepassword' action='/settings/changePassword' method='post'>
						<div class='field'><input type='password' name='newpassword' placeholder='New Password'></input></div>
						<div class='field'><input type='password' name='confirmpassword' placeholder='Confirm Password'></input></div>
						<button class='ui button'>Submit</button>
						<div class='ui error message'></div>
					</form>
				</p>
			</div>
		</div>
	</div>
	{{else}}
	{{> home-page-partial}}
	{{/if}}
	<script src="/dist/semantic.min.js"></script>
	<script src="/javascripts/index.js"></script>
	<script src="/javascripts/ajax.js"></script>
</body>
</html>