<!DOCTYPE html>
<html>
<head>
	<title>MoneyMatters</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<script src="/dist/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	{{#if user}}
	{{> menu-partial}}
	<div class="pusher">
		<div class="ui container">
			<div class="ui large secondary menu">
				<a class="active item" id='sidebarmenuitem'><i class='sidebar icon'></i>Menu</a>
				<div class="item">MoneyMatters</div>
				<div class="right item">
					<div class="ui right aligned text container">Welcome, <a href='#'>{{user.username}}</a></div>
					<a href="/venmo/auth"><img src="/images/venmo_icon.png" id="venmoauthbutton"></a>
					<a href="/logout"><div class="ui inverted button" id="logoutbutton">Logout</div> </a>
				</div>
			</div>
		</div>
		<div class="ui container" id="accountsettings">
			<h2 class="ui dividing large header"><i class="large settings icon"></i> Account Settings</h2>
			<div class="ui massive styled accordion">
				<div class="title active">
				    <i class="dropdown icon"></i>
				    What is a dog?
				  </div>
				  <div class="content active">
				    <p class="transition visible" style="display: block !important;">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
				  </div>
				  <div class="title">
				    <i class="dropdown icon"></i>
				    What kinds of dogs are there?
				  </div>
				  <div class="content">
				    <p class="transition hidden">There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
				  </div>
				  <div class="title">
				    <i class="dropdown icon"></i>
				    How do you acquire a dog?
				  </div>
				  <div class="content">
				    <p class="transition hidden">Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
				    <p class="transition hidden">A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
				  </div>
			</div>
		</div>
	</div>
	{{else}}
	{{> home-page-partial}}
	{{/if}}
	<script src="/javascripts/index.js"></script>
</body>
</html>