<!DOCTYPE html>
<html>
<head>
	<title>MoneyMatters</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">

	<link rel="stylesheet" type="text/css" href="
https://cdnjs.cloudflare.com/ajax/libs/plottable.js/2.0.0/plottable.css">
    <!-- import D3 -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!-- import Plottable-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plottable.js/2.0.0/plottable.js"></script>


</head>
<body>
	{{#if user}}
	{{> top-bar-partial}}
	<div class="ui container" id="statisticspanel">
		<h2 class="ui dividing large header"><i class="large line chart icon"></i> Statistics</h2>
		<div class="ui three column grid">
			<div class="column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			<div class="column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
			<div class="column">
				<svg width="300" height="300" id = "tutorial-result"></svg>
			</div>
		</div>
	</div>

	<script>
	console.log("im running");
	
	var colorScale = new Plottable.Scales.Color();
	var xScale = new Plottable.Scales.Linear();
	var yScale = new Plottable.Scales.Linear();

	var xAxis = new Plottable.Axes.Numeric(xScale, "bottom");
	var yAxis = new Plottable.Axes.Numeric(yScale, "left");

	var plot = new Plottable.Plots.Bar();
	plot.x(function(d) { return d.x; }, xScale);
	plot.y(function(d) { return d.y; }, yScale);
	plot.attr("fill", function(d) { return d.x + d.y > 0 ? "#0000FF" : "#FF0000" }, colorScale);

	var data = [
	{ "x": 0, "y": 1 },
	{ "x": 1, "y": 2 },
	{ "x": 2, "y": 4 },
	{ "x": 3, "y": -8 }
	];

	var dataset = new Plottable.Dataset(data);
	plot.addDataset(dataset);

	var chart = new Plottable.Components.Table([
		[yAxis, plot],
		[null, xAxis]
		]);

	chart.renderTo("svg#tutorial-result");

	


	</script>

	{{else}}
	{{> home-page-partial}}
	{{/if}}
	<script src="/dist/semantic.min.js"></script>
	<script src="/javascripts/index.js"></script>
</body>
</html>