<!DOCTYPE html>
<html>
<head>
	<title>MoneyMatters</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
	<script src="/dist/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div class="ui sidebar inverted vertical menu">
		<a class="item">
			<i class="home icon"></i>
			Home
		</a>
		<a class="item">
			<i class="settings icon"></i>
			Account Settings
		</a>
		<a class="item">
			<i class="line chart icon"></i>
			Statistics
		</a>
		<a class="item">
			<i class="users icon"></i>
			Friends
		</a>
	</div>
	<div class="pusher">
		<div class="ui container">
			<div class="ui large secondary menu">
				<a class="item"><i class='sidebar icon'></i>Menu</a>
				<a class="item">MoneyMatters</a>
				<div class="right item">
					<div class="ui text container">Welcome, <a href='#'>{{username}}</a></div>
					<div class="ui inverted button" id="logoutbutton">Logout</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>