body{
	background-color: #ecf0f1;
}

#headerpanel, .pusher{
	background-color: #27ae60;
	height: 100vh;
}

.masthead h1.ui.header{
	margin-top: 4em;
	font-size: 4em;
}

.masthead .menu a.ui.inverted.button{
	margin: 5px;
}

.masthead i.chevron.icon{
	position: absolute;
	bottom: 10px;
	left: 48.5vw;
}

#aboutpanel{
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left:5vw;
	padding-right: 5vw;
	display: none;
}

div.ui.grid{
	font-size: 2em;
}