body, body.pushable>.pusher{
	background-color: #7f8c8d;
	background-image: url('/images/stonesbg	.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.background-img{
	background-image: url('/images/background.png');
	background-repeat: no-repeat;
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	width:100vw;
	height:100vh;
}

#headerpanel, .pusher{
	height: 100vh;
}

.pusher .dimmed{
	background-color: #bdc3c7;
}

.masthead h1.ui.header{
	margin-top: 35vh;
	font-size: 7em;
}

.masthead .menu a.ui.inverted.button{
	margin: 5px;
}

.masthead i.chevron.icon{
	position: absolute;
	bottom: 10px;
	left: 48.5vw;
}

#aboutpanel{
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left:5vw;
	padding-right: 5vw;
}

div.ui.grid{
	font-size: 2em;
}

div.ui.right.aligned.text.container{
	padding:10px;
}

h2.ui.message{
	background: rgba(255, 255, 255, 0.6);
}
.ui.secondary.inverted.pointing.menu{
	border-width:0;
}
.ui.vertical.segment{
	border-bottom:0;
}

#chargeformwrapper{
	width: 0px;
	overflow: hidden;
}
div.ui.message.opaque {
	background-color: rgba(255,255,255,0.3);
}

#precharge{
	margin-top:-15vh;
	padding-bottom:5vh;
	transition:.7s;
}
#makechargebutton{
	transition:1s;
}

.expansion{
	animation: expansion 1.1s;
	animation-fill-mode: forwards;
}

@keyframes expansion{
	from{
		width: 0;
	}
	to{
		width: 100%;
	}
}

h2.ui.dividing.header{
	min-width:200px;
}

#submitchargebutton{
	opacity:0;
	margin-left:25.83vw;
}

#popupmenu{
	width: 400px;
}

.ui.form .fields>.field {
	padding-right:0px;
	padding-left:0px;
}

.ui.label{
	border-radius: 0px;
}

.ui.form input[type=number]{
	border-radius: 0px;
}

.ui.selection.dropdown{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.listedchargeamount{
	color: green;
}

.ui.raised.segment{
	min-height: 50vh;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui){
	text-transform: capitalize;
}
.ui.card>.content, .ui.cards>.card>.content {
	padding:0.5em;
	text-align: center;
}

.ui.list>a.item i.icon{
	color: rgba(255,255,255, 0.8);
}

.ui.form input[type=text]{
	border-radius:0px;
}

#chargedescription{
	border-bottom-right-radius:1px;
	border-top-right-radius:1px;
}